body{
    background-color: beige;
}

.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
 
.movie_head i{
    float: right;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:50%;
    width: 50%;
  }